.card {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 5rem;
  
    input {
      flex: 1;
      margin-right: 0.5rem;
    }
  
    .e-ddl {
      width: 150px;
      margin-right: 0.5rem;
    }

    .e-ddl-popup {
        top: 100% !important; 
      }
  
    .btn-primary {
      margin-right: 0.5rem;
    }

    .no-results {
        margin-top: 1rem;
        text-align: center;
        font-style: italic;
        color: #999;
      }
  }
  